@font-face {
  font-family: Inter;
  src: url("../public/fonts/Inter.ttf");
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
}

#header{
  /*Eu não sei se isso está de acordo com as melhores práticas de header na programação web*/
  /*display: flex;*/
  
  font-family: "Calibri", serif;
  height: 23vh;
  color: white;
  background: linear-gradient(0deg, #0A5517, #006D35); /* Olha as cores no protótipo dps*/
  font-size: 3em;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0; left:0; width: 100vw;
}

#header img{
  position: absolute;
  top: 3vh; left: 3vh; height: 18vh; width: 18vh;
}

#header #buttons{
  width: 3vh;
  height: 3vh;
  position: absolute;
  display: grid;
  grid-column-gap: 3vw;
  top: 7vh; left: 75vw;
}

#header #buttons button{
  font-size: 3vh;
  font-family: "Inter", "Inter Semi Bold", "Comic Sans MS", serif;
}

#header #buttons #login{
  background-color: #1a1a1a;
  grid-column: 2;
}
#header #buttons #home{
  background-color: transparent;
}

#center{
  position: absolute;
  top: 23vh; left: 0;
  height: 100vh;
  background-color: white;
  color: black;
}

#bottom{
  background:  linear-gradient(0deg, #0A5517, #006D35);
  height: 30vh;
  width: 100vw;
  position: absolute;
  left: 0vw; top: 97vh
}

#bottom #socials{
  position: absolute;
  height: 23vh;
  left: 5vw; top: 2vh;
}

#bottom #buttons{
  position: absolute;
  display: grid; grid-gap: 1vw;
  width: 23vw;height: 23vh;
  top: 2vh; left: 70vw;
}

#bottom #buttons button{
  background-color: transparent;
  height: 7vh;
}

#bottom #buttons #email{
  grid-row: 2; grid-column: 1;
}
#bottom #buttons #fale{
  grid-row: 2; grid-column: 2;
}