@font-face {
    font-family: Inter;
    src: url("/public/fonts/Inter.ttf");
}

.tela-cadastro{
    color: red;

    display: flex;
    justify-content: center;

    #sub{
        display: flex;
        justify-content: center;
        border: 4.5vh solid transparent;
    }

    p{
        font-family: "Inter", "Inter Semi Bold", "Comic Sans MS", serif;
        /*text-align: center;*/
    }

    #title{
        font-size: 5vh;
        font-weight: bold;
    }

    button{
        text-align: center;
    }

    #senha{
        display: grid;
        grid-column-gap: 7vw;
        grid-row-gap: 3vh;
    }

    input {
        width: 100%;
    }

    #senha input{
        width: 100%;
    }

    #senha2{
        grid-column: 2;
    }
}